* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wholeDiv {
    position: relative;
    font-family: 'Noto Sans', sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

.container {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}